version: '3.8'
services:
  flask:
    build:
      context: "C:/Users/ANGELA/Downloads/ia/ia/flask_project/flask_server"
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped

  laravel:
    image: php:8.2-apache
    container_name: colegio-laravel
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
    working_dir: /var/www/html
    environment:
      - FLASK_URL=http://flask:5000
    depends_on:
      - flask
    restart: unless-stopped
